.todo-list-item {
    width: calc(100% - 10px);
    height: 50px;
    border: 0.5px rgba(128, 128, 128, 0.5) solid;
    border-radius: 3px;
    display:flex;
    align-items: center;
    padding-left: 10px;
    position: relative;
    margin-bottom: 10px;
    font-weight: bold;
    > span {
        position: absolute;
        right: 20px;
        color: rgba(0, 119, 255, 0.7);
        font-weight: bold;
        cursor: pointer;
    }
    .list-dropdown {
        display: flex;
        padding-left: 15px;
        z-index: 2;
        position: absolute;
        right: 20px;
        width: 150px;
        height: 30px;
        bottom: -20px;
        background-color: white;
        border: 0.5px rgba(0, 0, 0, 0.123) solid;
        border-radius: 5px;
        box-shadow: 1px 1px rgba(0, 0, 0, 0.123);
        > span {
            float: left;
            align-self: center;
            font-size: 14px;
        }
    }
}